body{
    background: black;
    text-align: center;
    width: 100%;
}

/* -- Cabeçalho -- */
.header{
    background: black;
    text-align: center;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #c5e267;
    border-radius: 20px;
    border-width: 2px;
}

    /* -- Logo -- */
    .logo{
        width: 150px;
    }



    /* -- Menu e Pesquisa: Geral -- */
    
        /* -- Mobile -- */
        #check{
            display: none;
        }
        .checkbtn{
            display: none;
        }

    .menu_area{
        margin-top: 8px;
    }
    .menu_area .nav{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        width: 742px;
        margin-left: 168px;
    }
    .nav-pills .nav-link {
        border-radius: 12px;
    }
    .menu_area nav a{
        background-color: black;
        color: white;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .menu_area nav a:hover{
        background: #c5e267;
        color: black;
    }
    .form-control{
        border-radius: 12px;
    }
    .form-inline {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-align: center;
        align-items: center;
        width: 310px;
    }
    .form-control {
        min-width: 100px;
        text-align: center;
    }
    .menu_area button{
        border-radius: 12px;
    }
    .menu_area button:hover{
        background: #c5e267;
        color: black;
        border-radius: 12px;
    }
    .menu_area .pesq{
        width: 310px;
        margin-top: 8px;
        margin-left: 660px;
    }



/* -- Main -- */

/* -- Avaliações -- */
    .col_aval{
        /*background-color: tomato;*/
        border-style: solid;
        border-color: #8acbda;
        border-radius: 20px;
        border-width: 2px;
        margin-bottom: 20px;
    }

        /* -- Avaliações - Título -- */
        .titulo_avaliacoes{
            margin-top: 15px;
            color: white;
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 0.2;
            margin-left: -766px;
        }

        /* -- Avaliações - Cards -- */
        .avaliacoes{
            width: 100%;
            height: 1660px;
            margin-left: 16px;
            margin-top: 10px;
        }
        .avaliacoes h5{
            width: 100%;
            text-align: center;
            margin-top: 8px;
            margin-left: 0px;
            height: 30px;
        }
        .avaliacoes .titulo{
            width: 324px;
            height: 30px;
            margin-bottom: 0px;
            text-align: center;
        }
        .avaliacoes a {
            color: black;
        }
        .avaliacoes .texto{
            padding-left: 15px;
            padding-right: 12px;
            padding-top: 5px;
            margin-top: -5px;
            width: 100%;
            text-align: center;
        }
        .avaliacoes img{
            border-radius: 50%;
            width: 25%;
            margin-top: 10px;
            margin-left: 0px;
        }
        .avaliacoes .card{
            display: -webkit-box;
            width: 95%;
            height: 477px;
            border-radius: 15px;
            margin-top: 15px;
            margin-left: -7px;
        }
        .carregar_av a{
            border-radius: 12px;
            background-color: black;
            color: white;
            margin-top: -7px;
            margin-bottom: -5px;
            width: 206px;
            margin-left: -7px;
        }
        .carregar_av a:hover{
            background: #8acbda;
            color: black;
        }

   


    /* -- Sobre e Editorial -- */
    .col_sobredi{
        border-style: solid;
        border-color: #d479b5;
        border-radius: 20px;
        border-width: 2px;
        margin-bottom: 20px;
        margin-left: 0px;
        min-width: 39.9%;
    }

        /* -- Sobre e Editorial - Títulos -- */
        .titulo_sobre, .titulo_edi{
            margin-top: 15px;
            color: white;
            margin-bottom: .5rem;
            font-weight: 500;
            line-height: 0.2;
            margin-left: 22px;
        }


    /* -- Editorial -- */
        /* -- Editorial - Conteúdo -- */
        .edi_cont{
            color: white;
            text-align: justify;
            width: 100%;
            margin-left: 38px;
        }
        .edi_cont i{
            font-size: x-large;
            margin-right: 20px;
        }
        .edi_cont .redes i{
            margin-top: 15px;
        }
        .edi_cont a{
            color: white;
        }



/* -- Rodapé -- */
.footer{
    background: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #d479b5;
    border-radius: 20px;
    border-width: 2px;
}


.footer img{
    width: 100px;
}

.footer .footer_area{
    margin-top: 25px;
}



/*                                              -- MEDIA QUERIES -- 
                                                -------------------
*/
    @media screen and (max-width:335px){
        /* -- Menu Mobile -- */
        .checkbtn{
            display: block;
            font-size: 30px;
            color: white;
            float: right;
            line-height: 40px;
            margin-right: 20px;
            margin-top: 12px;
            margin-bottom: 0px;
            cursor: pointer;
        }
        #check{
            display: none;
        }
        #checkbox{
            display: inline;
        }
        #check:checked ~ .nav{
            left: 0;
            height: 350px;
            transition: .01s left;
        }

        .menu_area .btn{
            width: 20%;
        }

        /* -- Header -- */
        .menu_area nav{
            display: absolute;
            width: 100%;
            height: 100%;
        }
        .header .menu_area{
            margin-top: 0px;
            flex-wrap: wrap;
            align-items: center;
            top: 0px;
            left: 0px;
            
        }
        .menu_area .nav{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            width: 0px;
            margin-left: 0px;

            position: relative;
            width: 100%;
            height: 15px;
            
            left: -1000px;
            text-align: center;
            transition: height 0.5s;
        }
        .menu_area nav a {
            background-color: black;
            color: white;
            margin-bottom: 9px;
            margin-top: 9px;
            transition: all;
        }
        .menu_area nav a:hover{
            background: #c5e267;
            color: black;
        }
        .form-inline {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center;
            width: 0px;
        }
        .form-control {
            max-width: 150px;
            text-align: center;
            margin-right: 5px;
        }
        .menu_area button:hover{
            background: #c5e267;
            color: black;
        }
        .menu_area .pesq{
            width: 280px;
            margin-top: 8px;
            margin-left: 20px;
        }
        



        
        /* -- Avaliações -- */
            /* -- Avaliações - Título -- */
            .titulo_avaliacoes{
                width: 103%;
                margin-left: -1.5%;
                padding: 10px;
            }
            .titulo_avaliacoes h1{
                font-size: x-large;
            }

            /* -- Avaliações - Cards -- */
            .avaliacoes{
                width: 98%;
                height: 5100px;
                margin-left: 5.8%;
            }
            .avaliacoes .card{
                overflow: hidden;
                height: 100%;
            }
            .avaliacoes .cc{
                margin-bottom: 20px;
            }
            .avaliacoes img{
                margin-top: 10px;
                margin-left: 0px;
            }
            .avaliacoes h5{
                width: 100%;
            }
            .avaliacoes h6{
                width: 100%;
            }
            .avaliacoes .texto{
                margin-left: 5px;
                width: 100%;
                text-align: initial;
            }
            .avaliacoes .titulo{
                margin-left: 0px;
                width: 100%;
            }


        /* -- Editorial - Título -- */
        .row.titulo_edi{
            width: 90%;
            margin-left: 3%;
            padding: 10px;
        }
        .titulo_edi h1{
            font-size: x-large;
        }
        .edi_cont h3{
            font-size: larger;
        }
        .edi_cont i{
            font-size: large;
            margin-right: 10px;
        }

    }
    
/*                                              -- MEDIA QUERIES -- 
                                                -------------------
*/

    @media screen and (min-width:336px) and (max-width:575px){ 
        body{
            width: 100%;
        }
        /* -- Menu Mobile -- */
        .checkbtn{
            display: block;
            font-size: 30px;
            color: white;
            float: right;
            line-height: 40px;
            margin-right: 0px;
            margin-top: -39px;
            margin-bottom: 0px;
        }
        #check{
            display: none;
        }
        #checkbox{
            display: inline;
        }
        #check:checked ~ .nav{
            left: 0;
            height: 350px;
            transition: .01s left;
        }

        /* -- Header -- */
        .menu_area nav{
            display: absolute;
            width: 100%;
            height: 100%;
        }
        .header .menu_area{
            margin-top: 0px;
            flex-wrap: wrap;
            align-items: center;
            top: 0px;
            left: 0px;
        }
        .menu_area .nav{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            width: 0px;
            margin-left: 0px;

            position: relative;
            width: 100%;
            height: 15px;

            left: -1000px;
            text-align: center;
            transition: height .5s;
        }
        .menu_area nav a {
            background-color: black;
            color: white;
            margin-bottom: 9px;
            margin-top: 9px;

        }
        .menu_area nav a:hover{
            background: #c5e267;
            color: black;
        }
        .form-inline {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center;
            width: 0px;
        }
        .form-control {
            width: 55%;
            text-align: center;
            margin-right: 10px;
        }
        .menu_area button:hover{
            background: #c5e267;
            color: black;
        }
        .menu_area .pesq {
            margin-top: 8px;
            margin-left: 0px;
            min-width: 250px;
            max-width: 565px;
            width: 90%;
        }
        .menu_area{
            display: inline;
        }


        
        
        /* -- Avaliações -- */
            /* -- Avaliações - Título -- */
            .titulo_avaliacoes{
                width: 90%;
                margin-left: 5%;
                padding: 10px;
            }
            .titulo_avaliacoes h1{
                font-size: x-large;
            }

            /* -- Avaliações - Cards -- */
            .avaliacoes{
                width: 98%;
                height: 4650px;
                margin-left: 5.5%;
            }
            .avaliacoes .card{
                overflow: hidden;
            }
            .avaliacoes img{
                margin-top: 10px;
                margin-left: 0px;
            }
            .avaliacoes h5{
                width: 100%;
            }
            .avaliacoes h6{
                width: 100%;
            }
            .avaliacoes .texto{
                margin-left: 5px;
                width: 100%;
                text-align: initial;
            }
            .avaliacoes .titulo{
                margin-left: 0px;
                width: 100%;
            }
            .carregar_av a{
                width: 90%;
                margin-left: -0.8%;
                margin-top: 0.8%;
                margin-bottom: 0.8%;
            }


        

        /* -- Editorial - Título -- */
        .row.titulo_edi{
            width: 90%;
            margin-left: 2%;
            padding: 10px;
        }
        .titulo_edi h1{
            font-size: x-large;
        }
        .edi_cont h3{
            font-size: larger;
        }

    }

/*                                              -- MEDIA QUERIES -- 
                                                -------------------
*/

    @media screen and (min-width:576px) and (max-width:767px){ /*CONCERTAR MENU MOBILE*/
        /* -- Menu Mobile -- */
        .checkbtn{
            display: block;
            font-size: 30px;
            color: white;
            float: right;
            line-height: 40px;
            margin-right: 0px;
            margin-top: -39px;
            cursor: pointer;
        }
        #check{
            display: none;
        }
        #checkbox{
            display: inline;
        }
        #check:checked ~ .nav{
            left: 0;
            display: inline;
            transition: height .01s;
        }


        /* -- Outros -- */
        .menu_area nav{
            display: absolute;
            width: 100%;
            height: 100%;

        }
        .header .menu_area{
            margin-top: 0px;
            /*display: flex;
            position: fixed;*/
            flex-wrap: wrap;
            align-items: center;
            top: 0px;
            left: 0px;
        }
        .menu_area .nav{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            width: 0px;
            margin-left: 0px;

            position: relative;
            width: 100%;
            height: 10px;
            
            left: -1000px;
            text-align: center;
            transition: height .5s;
        }
        .menu_area nav a {
            background-color: black;
            color: white;
            margin-bottom: 9px;
            margin-top: 9px;
        }
        .menu_area nav a:hover{
            background: #c5e267;
            color: black;
        }
        .form-inline {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center;
            width: 0px;
        }

        .form-inline .form-control {
            display: inline-block;
            width: 55%;
            vertical-align: middle;
        }

        .menu_area button:hover{
            background: #c5e267;
            color: black;
        }
        
        .menu_area .pesq {
            margin-top: 8px;
            margin-left: 0px;
            min-width: 460px;
            max-width: 787px;
            width: 90%;
        }

       
        /* -- Avaliações -- */
            /* -- Avaliações - Título -- */
            .titulo_avaliacoes{
                margin-left: -153px;
            }

            /* -- Avaliações - Cards -- */
            .avaliacoes{
                width: 98%;
                height: 4710px;
                margin-left: 25px;
            }
            .avaliacoes img{
                width: 83px;
                height: 83px;
                margin-top: 10px;
                margin-left: 200px;
            }
            .avaliacoes h5{
                width: 100%;
                text-align: center;
            }
            .avaliacoes .texto{
                margin-left: 5px;
                width: 100%;
                text-align: initial;
            }
            .avaliacoes .titulo{
                width: 470px;
                text-align: center;
            }
            .carregar_av a{
                margin-top: -18px;
                margin-bottom: 0px;
                width: 206px;
                margin-left: -8px;
            }

        
        /* -- Sobre e Editorial -- */
        .col_sobredi{
            margin-left: 0px;
        }

    }

/*                                              -- MEDIA QUERIES -- 
                                                -------------------
*/

    @media screen and (min-width:768px) and (max-width:991px){ /*CONCERTAR MENU MOBILE*/
        
        /* -- Menu Mobile -- */
        .checkbtn{
            display: block;
            font-size: 30px;
            color: white;
            float: right;
            line-height: 40px;
            margin-right: 15px;
            margin-top: 7px;
            margin-bottom: 0px;
            cursor: pointer;
        }
        #check{
            display: none;
        }
        #checkbox{
            display: inline;
        }
        #check:checked ~ .nav{
            text-align: center;
            left: 0;
            display: inline-block;
            margin-top: 0px;
            height: 308px;
            transition: height 0.01s;
        }



        /* -- Outros -- */
        .menu_area nav{
            display: absolute;
            width: 100%;
            height: 100%;

        }
        .header .menu_area{
            margin-top: 0px;
            /*display: flex;
            position: fixed;*/
            flex-wrap: wrap;
            align-items: center;
            top: 0px;
            left: 0px;
        }
        .menu_area .nav{
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            width: 0px;
            margin-left: 0px;

            position: relative;
            width: 100%;
            height: 0px;
            

            left: -1000px;
            text-align: center;
            transition: height 0.8s;
        }
        .menu_area nav a {
            background-color: black;
            color: white;
            margin-bottom: 9px;
            margin-top: 9px;
        }
        .menu_area nav a:hover{
            background: #c5e267;
            color: black;
        }

        .form-inline {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -ms-flex-align: center;
            align-items: center;
            width: 0px;
        }
        .form-control {
            min-width: 150px;
            text-align: center;
        }
        .menu_area button:hover{
            background: #c5e267;
            color: black;
        }

        .menu_area .pesq{
            width: 310px;
            margin-top: 23px;
            margin-left: 185px;
        }




       
        /* -- Avaliações -- */
            /* -- Avaliações - Título -- */
            .titulo_avaliacoes{
                margin-left: -324px;
            }

            /* -- Avaliações - Cards -- */
            .avaliacoes{
                width: 98%;
                height: 2650px;
                margin-left: 23px;
            }
            .avaliacoes img{
                width:80px;
                height: 80px;
                margin-top: 10px;
                margin-left: 114px;
            }
            .avaliacoes h5{
                width: 100%;
                text-align: center;
            }
            .avaliacoes .titulo{
                width: 305px;
                text-align: center;
            }
            .avaliacoes .texto{
                margin-left: 5px;
                width: 100%;
                text-align: initial;
            }
            .avaliacoes .alone{
                margin-left: 175px;
            }
            .carregar_av a{
                margin-top: -18px;
                margin-bottom: 0px;
                width: 206px;
                margin-left: -8px;
            }
            
    


            .col_sobredi{
                margin-left: 0px;
            }
        



    }

/*                                              -- MEDIA QUERIES -- 
                                                -------------------
*/

    @media screen and (min-width:992px) and (max-width: 1199px) {

        /* -- Menu Mobile -- */
        .menu_area .pesq{
            width: 310px;
            margin-left: 522px;
        }
        .menu_area .nav{
            margin-left: 30px;
        }
        .form-inline {
            width: 200px;
        }


        
        
        /* -- Avaliações -- */
            /* -- Avaliações - Título -- */
            .titulo_avaliacoes{
                font-weight: 500;
                margin-left: -570px;
            }

            /* -- Avaliações - Cards -- */
            .avaliacoes{
                width: 98%;
                height: 1800px;
                margin-left: 25px;
            }
            .avaliacoes .card{
                height: 550px;
            }
            .avaliacoes img{
                width: 84px;
                height: 84px;
                margin-top: 10px;
                margin-left: 95px;
            }
            .avaliacoes h5{
                width: 100%;
                text-align: center;
            }
            .avaliacoes p{
                width: 103%;
                text-align: initial;
            }
            .avaliacoes .titulo{
                width: 265px;
                text-align: center;
            }



        
        /* -- Entrevistas -- */
        .entrevistas{
            height: 365px;
        }
            /* -- Entrevistas - Título -- */
            .titulo_entrevistas{
                font-weight: 500;
                line-height: 0.2;
                margin-left: -495px;
            }


        /* -- Novidades -- */
        .col_sobredi{
            margin-left: 0px;
        }
        
        
}




/*Problemas a concertar: 
    <768 o jeito que o menu abre não é deslizando
*/